%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2010-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{minimum_otp_vsn, "R16B02_basho10"}.

{brt_protect, true}.

{erl_opts, [
    % these will go away ...
    {platform_define, "^(R|17)",  'NO_MONOTONIC_TIME'},
    {platform_define, "^R",       'NO_NAMESPACED_TYPES'},
    {platform_define, "^(R|17)",  'NO_RAND_MODULE'},

    debug_info,
    warn_bif_clash,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
]}.

{pre_hooks, [
    {"(linux|darwin|solaris)",  compile,  "make  -C c_src"},
    {"(freebsd)",               compile,  "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)",  clean,  "make  NO_DEPS=1 -C c_src clean-dist"},
    {"(freebsd)",               clean,  "gmake NO_DEPS=1 -C c_src clean-dist"}
]}.

{profiles, [
    {check, [
        {dialyzer, [
            {warnings, [
                error_handling,
                race_conditions,
                unknown,
                unmatched_returns
            ]}
        ]},
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, 'BASHO_CHECK'}
        ]},
        {xref_checks, [
            deprecated_function_calls,
            deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]}
    ]},
    {docs, [
        {edoc_opts, [
            {app_default, "http://www.erlang.org/doc/man"},
            {preprocess, true},
            {macros, [
                {'EDOC', true},
                {'BASHO_DOCS', true}
            ]}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            warnings_as_errors,
            {d, 'BASHO_PROD'}
        ]}
    ]},
    % Builds the NIF library with debug output, otherwise same as 'prod'.
    % Note that the name of the NIF library is unchanged, so it will appear
    % up-to-date for any profile.
    {debug, [
        {erl_opts, [
            warnings_as_errors,
            {d, 'BASHO_PROD'}
        ]},
        {pre_hooks, [
            {"(linux|darwin|solaris)",  compile,  "make  BITCASK_DEBUG=1 -C c_src"},
            {"(freebsd)",               compile,  "gmake BITCASK_DEBUG=1 -C c_src"}
        ]}
    ]},
    % Use "BITCASK_IO_MODE=xxx rebar3 as pulse eunit" to run, as described
    % for the 'test' profile, which is included implicitly.
    % Note that 'test' profile 'erl_opts' take precedence.
    % At present the Pulse tests are broken, and may have been for a while,
    % so don't include them as an automated target.
    {pulse, [
        {erl_opts, [
            {d, 'PULSE'},
            {pulse_no_side_effect, [
                {erlang, display, 1}
            ]},
            {pulse_side_effect, [
                {bitcask_nifs, '_', '_'},
                {bitcask_file, '_', '_'},
                {bitcask_time, tstamp, 0},
                {prim_file, '_', '_'},
                {file, '_', '_'},
                {filelib, '_', '_'},
                {os, '_', '_'}
            ]},
            {pulse_replace_module, [
                {gen_server, pulse_gen_server},
                {application, pulse_application},
                {supervisor, pulse_supervisor}
            ]}
        ]},
        {eunit_tests, [
            bitcask_pulse
        ]},
        {pre_hooks, [
            {"(linux|darwin|solaris)",  compile,  "make  PULSE=1 -C c_src"},
            {"(freebsd)",               compile,  "gmake PULSE=1 -C c_src"}
        ]}
    ]},
    % Use "BITCASK_IO_MODE=xxx rebar3 eunit" to run, with xxx equal to
    % "erlang" or "nif". If not defined, the default is "erlang".
    {test, [
        {cover_enabled, true},
        {erl_opts, [
            debug_info,
            nowarn_export_all,
            nowarn_unused_function,
            nowarn_unused_import,   % EQC
            warnings_as_errors,
            {d, 'BASHO_TEST'}
        ]},
        {deps, [
            {cuttlefish,
                {git, "https://github.com/basho/cuttlefish.git",
                {branch, "rebar3"}}},
            {meck,
                {git, "https://github.com/basho/meck.git",
                {branch, "rebar3"}}}
        ]}
    ]},
    {validate, [
        {erl_opts, [
            strong_validation,
            no_auto_import,
            warn_bif_clash,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_missing_spec,
            warn_missing_spec_all,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warn_unused_record,
            warn_unused_vars,
            {d, 'BASHO_VALIDATE'}
        ]}
    ]}
]}.

{plugins, [
    {basho_rebar_tools,
        {git, "https://github.com/basho/basho_rebar_tools.git",
        {branch, "master"}}}
]}.
